﻿@model Cart


<div class="">
    @if (Model.Lines.Count() > 0)
    {
         <small class="navbar-text">
            <b>Your cart:</b>
            @Model.Lines.Sum(x => x.Quantity) item(s)
            @Model.ComputeTotalValue().ToString("c")

        </small>
    }
    <a class="btn btn-sm btn-secondary navbar-btn"
       asp-controller="Cart" asp-action="Index"
       asp-route-returnurl="@ViewContext.HttpContext.Request.PathAndQuary()">
        <i class="fa-shopping-basket fa"></i>
    </a>

</div>